<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ServerUrl" connectionString="10.13.18.40"/>
  </connectionStrings>
  <appSettings>
    <add key ="Port" value ="1883"/>
    <add key ="UserId" value ="admin"/>
    <add key="Password" value="public"/>
    <add key="Topic" value="coenc"/>
  </appSettings>
</configuration>