<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--MQTT地址-->
  <connectionStrings>
    <add name="ServerUrl" connectionString="10.13.18.40"/>
    <add name="connStr" connectionString="10.13.18.40:27017"/>
  </connectionStrings>
  <appSettings>
    <!--MQTT连接参数-->
    <add key ="Port" value ="1883"/>
    <add key ="UserId" value ="admin"/>
    <add key="Password" value="public"/>
    <add key="Topic" value="coent"/>
    <!--计算参数-->
    <add key="Calibration" value="60"/>
    <add key="Error" value="10"/>
    <add key="Deviation" value="5"/>
    <add key="Factor" value="3"/>
    <add key="PredeterminedVariance" value="80"/>
    <add key="Variance" value="8.2"/>
    <!--蓝牙-->
    <add key="BluetoothLabel" value="E3:52:1E:25:99:F1"/>
    <add key="Gateway1X" value="0"/>
    <add key="Gateway1Y" value="0"/>
    <add key="Gateway2X" value="0"/>
    <add key="Gateway2Y" value="2000"/>
    <add key="Gateway3X" value="2000"/>
    <add key="Gateway3Y" value="2000"/>
    <!--MongoDB-->
    <add key="dbname" value="DataAnalysis"/>
  </appSettings>
</configuration>